// colors
$lightRed: #d5441c;
$mediumRed: #a53f3f;
$darkRed: #620808;
$lightYellow: #ffe9c1;
$mediumYellow: #f4ce74;
$gray: #cccccc;
$bgc: #F36F4A;

//variables width
$w100: 100%;
$w90: 90%;
$bgcolor: #000;
$tac: center;

